
<!DOCTYPE html>
<html>
  {% include head.html %}


  <body style="color: #000000; background-color: ##F5F5F5;">
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <h2>My Experience</h2>
        
        <p>
          It all started ironically in a third-year Physics lab at the University of California Santa Barbara, writing code to analyze stars. I've discovered an equal—if not greater—passion for the intricacies of code as for the complexities of the cosmos. This led me into the universe of software engineering and data analytics, where I’ve focused on designing cloud-based solutions that make a tangible impact. 
        </p>

        <p>
        Utilizing cloud services like AWS, I've taken projects from conceptualization to deployment, creating robust data pipelines, streamlining data retrieval, and finetuning performances for business efficiency. 
        </p>
        
        <p>
          But my interests aren't just confined to the screen. When I'm not elbow-deep in code, you'll find me diving into the depths of the ocean, rock climbing, or traversing the captivating landscapes within books.

        </p>
        
        <p>
          For me, the tech industry is not just about solving problems but also about connecting with like-minded individuals who are passionate about crafting meaningful solutions. Whether it's for a project, a potential collaboration, or just a casual chat about tech, diving, or literature, I'm just an email away. Feel free to reach out to me at <a href="mailto:hi@azizulwahid.com">hi@azizulwahid.com</a>, or check out my GitHub to get a glimpse of my latest endeavors.
        </p>

       <!-- New Technologies Section -->
        <h2>Technologies I've Worked With</h2>
        <p>
          My work revolves around leveraging the right technologies to deliver efficient and scalable solutions. Here are some of the key technologies I've worked with:
        </p>

        <ul>
          <li><strong>Cloud Computing:</strong> AWS, Azure</li>
          <li><strong>Data Engineering:</strong> Kafka, Snowflake, Airflow, Rockset</li>
          <li><strong>Programming:</strong> Python, JavaScript (Beginner)</li>
          <li><strong>APIs & Query Languages:</strong> GraphQL, AWS AppSync</li>
          <li><strong>DevOps Tools:</strong> Kubernetes, Docker</li>
          <li><strong>Infrastructure as Code:</strong> Terraform, AWS CDK</li>
          <li><strong>Version Control:</strong> Git, GitHub, BitBucket</li>
          <li><strong>Data Transformation:</strong> dbt</li>
        </ul>

      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
